
\.idea/cryptoConBot\.iml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

convertor\.pyc

\.idea/codeStyles/codeStyleConfig\.xml

\.idea/markdown-navigator\.xml

\.idea/markdown-navigator/profiles_settings\.xml

\.idea/preferred-vcs\.xml

\.idea/dictionaries/mohus\.xml
