# Put this in /lib/systemd/system/CryptoConvBot.service
# cp ./CryptoConvBot.service /lib/systemd/system/CryptoConvBot.service
# Set mode 644
# chmod 644 /lib/systemd/system/CryptoConvBot.service
# Set chmod +x to main script file
# Don't forget #!/usr/bin/python
# Add to systemctl
# systemctl daemon-reload
# systemctl enable CryptoConvBot.service
# systemctl start CryptoConvBot.service
# To stop:
# systemctl stop CryptoConvBot.service
# To remove
# systemctl disable CryptoConvBot.service

[Unit]
Description=CryptoConvBot
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/bots/CryptoConvBot/CryptoConvBot.py
WorkingDirectory=/bots/CryptoConvBot/
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
