# Put this in /lib/systemd/system/cryptoconvbot.service
# cp ./cryptoconvbot.service /lib/systemd/system/cryptoconvbot.service
# Set mode 644
# chmod 644 /lib/systemd/system/cryptoconvbot.service
# Add to systemctl
# systemctl daemon-reload
# systemctl enable cryptoconvbot.service

[Unit]
Description=CryptoConvBot
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/bots/CryptoConvBot/CryptoConvBot.py
WorkingDirectory=/bots/CryptoConvBot/

[Install]
WantedBy=multi-user.target
