[Unit]
Description=CryptoConvBot
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/bots/CryptoConvBot/CryptoConvBot.py
WorkingDirectory=/bots/CryptoConvBot/
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target

